<div class="sticky-top" id="float-pane">
  <div class="border py-2 px-3">
    <div class="input-group py-2">
      <input
        type="text"
        class="form-control"
        placeholder="How can we help you?"
      />
      <button class="btn btn-primary">Search</button>
    </div>
    <div class="pb-2">
      <h5 class="h6 my-2">Categories</h5>
      <ul class="nav flex-column">
        {% for c in g.top_categories %}
        <li class="nav-item">
          <a
            href="{{ '/posts/category/' + c.category_name}}"
            class="text-decoration-none text-primary"
            >{{ c.category_name }}</a
          >
          <span>{{ c.post_count }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="pb-2">
      <h5 class="h6 my-2">Tags</h5>
      <ul class="nav flex-column">
        {% for t in g.top_tags %}
        <li class="nav-item">
          <a
            href="{{ '/posts/tag/' + t.tag_name}}"
            class="text-decoration-none text-primary"
            >{{ t.tag_name }}</a
          >
          <span>{{ t.post_count }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
