<div class="sticky-top" id="category-tag">
  <div class="border p-2">
    <div class="input-group py-2">
      <input
        type="text"
        class="form-control"
        placeholder="How can we help you?"
      />
      <button class="btn btn-primary">Search</button>
    </div>
    <div class="ps-2">
      <h5 class="h6 my-2">Page Navigation</h5>
    </div>
    <div class="ps-2">
      <a href="#" class="text-decoration-none text-primary"
        >Category Subheading</a
      >
    </div>
  </div>
</div>
