body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#latest_posts li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#content-post li {
  list-style-position: outside;
}
#content-post h1::before,
#content-post h2::before,
#content-post h3::before,
#content-post h4::before,
#content-post h5::before,
#content-post h6::before {
  content: " ";
  margin-top: -4rem;
  height: 4rem;
  display: block;
}
#float-pane {
  top: 5rem;
}

#center-pane > ul {
  padding-left: 0.25rem;
}
