{% extends "base.html" %} {% block title %}Posts{% endblock %} {% block
content%}

<div class="row">
  <i class="fa-regular fa-pen-to-square fa-3x mb-2 text-center"></i>
  <div class="col-md-6 mx-auto border-bottom text-center">
    <h1 class="my-3">Blog Posts</h1>
    <p class="lead">Posts archive by date</p>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-3" id="left-pane"></div>
  <div class="col-md-6" id="center-pane">
    <ul>
      {% for post in posts %}
      <li class="list-unstyled">
        <a href="{{post.link}}">
          <h4>{{ post.title | title}}</h4>
        </a>
        <small class="text-secondary">{{ post.date_created }}</small>
        <small>
          {% for tag in post.tags%}
          <a href="{{'/posts/tags/' + tag }}">{{tag}}</a>
          {% endfor%}
        </small>
        <p class="fst-italic">{{ post.summary}}</p>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-3" id="right-pane">
    {% include 'components/cat-n-tag.html' %}
  </div>
</div>
{% endblock %}
