{% extends "base.html" %} {% block title %}{{post.title|title}}{% endblock %} {%
block content %}
<!-- welcome -->
<div class="row" id="intro">
  <div class="col-md-6 mx-auto">
    <div class="border-bottom">
      <h1 class="my-3">{{post.title|title}}</h1>
      <small class="mb-2">
        Published: {{post.date_created}} {% if post.category is not none%}
        <span
          >on
          <a
            href="{{'/posts/category/' + post.category }}"
            class="text-primary fst-italic text-decoration-none"
          >
            <i class="fa-regular fa-folder-open pe-1"></i>{{post.category}}
          </a>
        </span>
        {% endif%}</small
      >
      <div>
        {% for tag in post.tags%}
        <a href="{{'/posts/tag/' + tag }}" class="text-decoration-none">
          <span class="badge text-bg-primary">{{tag}}</span>
        </a>
        {% endfor%}
      </div>
      <p class="fst-italic">SUMMARY: {{post.summary}}</p>
    </div>
  </div>
</div>

<div class="row mb-4" id="main">
  <div class="col-md-3" id="left-pane">
    {% if post.toc is not none %}
    <div class="sticky-top" id="float-pane">
      <div class="border py-2 px-3">
        <div>{{ post.toc|safe }}</div>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="col-md-6" id="center-pane">
    <div id="content-post">{{ post.content|safe }}</div>
  </div>
  <div class="col-md-3" id="right-pane">
    {% include 'components/cat-n-tag.html' %}
  </div>
</div>

{% endblock %}
