{% extends "base.html" %}

{% block title %}Posts{% endblock %}

{% block content %}
<div class="col-md-8 mx-auto">
  <!-- welcome -->
  <div class="row mb-4 border-bottom">
    <i class="fa-regular fa-pen-to-square fa-3x text-center mb-2"></i>
    <h1 class="my-3">{{post.title|title}}</h1>
    <small class="mb-2">
      Published: {{post.date_created}}.
      Tags:
      {% for tag in post.tags%}
      <a href="{{'/posts/tags/' + tag }}">{{tag}}</a>
      {% endfor%}
    </small>
  </div>

  <!-- intro -->
  <div class="row mb-4 border-bottom" id="intro">
    <p class="fst-italic">
      SUMMARY: {{post.summary}}
    </p>
  </div>

  <div id="content-post" class="row mb-4">
    {{ post.content|safe }}
  </div>

</div>
{% endblock %}