{% extends "base.html" %} {% block title %}Projects{% endblock %} {% block
content %}
<div class="col-md-8 mx-auto">
  <!-- welcome -->
  <div class="row mb-4 border-bottom text-center">
    <i class="fa-solid fa-code fa-3x mb-2"></i>
    <h1 class="mt-1">Projects</h1>
    <p class="lead">This is my side projects</p>
  </div>

  <!-- intro -->
  <div class="row mb-4" id="intro">
    <div class="col-sm-6">
      <div class="card border-primary">
        <div class="card-body">
          <h5 class="card-title">My Blog</h5>
          <p class="card-text">A blog written in Flask, using Postgresql</p>
          <a href="https://shorturl.at/fmBK2" class="btn btn-primary">Live</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-primary">
        <div class="card-body">
          <h5 class="card-title">Book API</h5>
          <p class="card-text">
            A Rest API written in FastAPI, using Postgresql
          </p>
          <a
            href="https://main-bvxea6i-is5cxz4lczpvk.au.platformsh.site/api/v1/books/?page=1&limit=5"
            class="btn btn-primary"
            >Live</a
          >
          <a
            href="https://github.com/yacarthar/book_api"
            class="btn btn-outline-primary"
            >Code</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
